<%= render "top/shared/top_header", spots: @weekly_ranked_spots %>
<div class="main-contents-wrap">
  <%= render "top/shared/search_form", q: @q, categories: @categories, allowed_areas: @allowed_areas, regions: @regions %>
  <%= render "top/shared/popular_spot_list", ranked_spots: @ranked_spots %>
  <%= render "top/shared/area_search_links", regions: @regions, image_show: true %>
  <%= render "top/shared/map_search_links", regions: @regions %>
  <section class="image-like-list-wrap">
    <h2 class="main-title title is-4">いいねをたくさんもらった子たちをご紹介</h2>
    <%= render "shared/display_images/image_link_list", image_blobs: @weekly_ranked_image_blobs, spot_id: nil, image_id: nil %>
  </section>
</div>
<%= javascript_pack_tag "top/index" %>
<%= stylesheet_pack_tag "top/index" %>
