<div class="container map-search-container">
  <div class="main-contents-wrap">
    <h2 class="title is-4 main-title">マップで探す</h2>
    <section class="map-search-wrap">
      <div class="region-btns-wrap">
        <% @regions.each do |region| %>
          <%= button_tag region.name, id: "js-#{region.name_roma}-btn", class: "button" %>
        <% end %>
      </div>
      <div id="js-map-display" class="map-display"></div>
    </section>
  </div>
</div>
<!-- javascriptで参照するため -->
<% @spots.each do |spot|%>
  <input type="hidden" class="js-spot-data" data-name=<%= spot.name %> data-address=<%= spot.address %> data-category=<%= spot.category.name %> data-lat=<%= spot.latitude %> data-lng=<%= spot.longitude %> data-path=<%= spot_path(spot) %>>
<% end %>
<input type="hidden" id="js-focus-area" data-focus=<%= @focus_area %>>
<!-- end -->
<%= render "shared/include_map" %>
<%= javascript_pack_tag "top/map_search" %>
<%= stylesheet_pack_tag "top/map_search" %>
