<div class="container search-result-container">
  <div class="side-contents-wrap">
    <%= render "top/shared/area_search_links", regions: @regions %>
  </div>
  <div class="main-contents-wrap">
    <section class="search-result-wrap">
      <div class="search-result-top-wrap">
        <h2 class="search-result-title title is-5">検索結果<span>（<%= @results.size %>件）</span></h2>
        <div class="sort-links-wrap">
          <%= render "shared/sort_link", likes_count_title: "お気に入りが多い順" %>
        </div>
      </div>
      <%= render "shared/display_spots/spot_list", spots: @results %>
    </section>
  </div>
</div>
<%= javascript_pack_tag "top/word_search" %>
<%= stylesheet_pack_tag "top/word_search" %>
