<%= render "shared/spot_header", spot: @spot, favorite_spot: @favorite_spot, tags_user_put_on_spot: @tags_user_put_on_spot %>
<div class="container spot-body">
  <div class="main-contents-wrap">
    <div class="top-spot-images-wrap js-spot-images block">
      <div class="large-image js-large-image"><img src="" alt=""></div>
      <div class="small-image js-small-image">
        <%= render "shared/display_images/limited_ranked_image_blobs", parent_record: @spot.images, limit: 10, width: 800, height: 800 %>
      </div>
    </div>
    <div class="top-articles-wrap">
      <section class="top-review-article block">
        <h3 class="title is-5">スポットのレビュー</h3>
        <%= render "shared/display_reviews/review_list", reviews: Reviews::LimitedRankedPresenter.call(scope: @reviews, limit: 3)  %>
        <div class="article-link">
          <%= link_to spot_reviews_path(@spot) do %>
            <span>レビューをもっと見る</span>
            <i class="fa-solid fa-chevron-right article-link-icon"></i>
          <% end %>
        </div>
      </section>
      <%= render "spots/shared/spot_base_data", spot: @spot %>
    </div>
  </div>
  <div class="right-contents-wrap">
    <%= render "spots/shared/search_links", spot: @spot %>
  </div>
</div>
<%= javascript_pack_tag "spots/show" %>
