<%= render "shared/flash_messages" %>

<div class="spot">
  <h2><%= @spot.name %></h2>

  <%# if @spot.image.attached? %>
    <%#= image_tag @spot.image, size: "100x100" %>
  <%# end %>

<% @spot.images.each_with_index do |image, i| %>
  <% break if i == 5 %>
  <% if image.files.attached? %>
    <% image.files.each_with_index do |file, i| %>
      <% break if i == 1 %>
      <%= image_tag file, width: 200, height: 200 %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "すべての写真を見る", spot_images_path(@spot) %>

  <table>
    <thead>
      <tr>
        <th>住所</th>
        <th>スポットカテゴリー</th>
        <th>同伴可能エリア</th>
        <th>同伴ルール</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @spot.address %></td>
        <td><%= @spot.category.name %></td>
        <td><%= @spot.allowed_area.area %></td>
        <td>
          <ul>
          <% @spot.decorate.find_attached_rules.each do |rule| %>
            <li><%= rule.rule_option.name %></li>
          <% end %>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to "他のレビューを見る", spot_reviews_path(@spot), class: "button light ml-3 mt-3" %>
<br>
<%= link_to "スポットの登録内容を更新する", edit_spot_path(@spot), "data-turbolinks": false %>

<h2>レビューを投稿する</h2>

<%= render "shared/error_messages", resource: @review_poster_form %>

<div class="rating-box mt-3">
  <%= form_with model: @review_poster_form, url: spot_reviews_path(@spot), method: :post do |f| %>
    <div class="main-rating">
      <div class="ratings mb-3">
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
      </div>
      <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
    </div>
    <%= f.fields_for :review_attributes, @review_poster_form.review do |rf| %>
      <%= rf.hidden_field :user_id, value: current_user.id if signed_in? %>
      <%= rf.hidden_field :spot_id, value: @spot.id %>
      <%= rf.hidden_field :score, id: "rating-value" %>
      <%= rf.text_field :comment, class: "textarea" %>
    <% end %>
    <br>
    <%= f.fields_for :image_attributes, @review_poster_form.image do |imf| %>
      <%= imf.label :files, "画像をアップロードする" %>
      <%= imf.file_field :files, multiple: true %>
    <% end %>
    <br>
    <%= f.submit "投稿する", class: "button mt-3" %>
  <% end %>
</div>

<%= javascript_pack_tag "spot/review" %>
