<div class="tag-overlay">
  <div id="tag-list">
    <h3>保存済みタグ</h3>
    <ul>
      <% @spot_tags.each do |tag| %>
        <li class="tag-list-content" id="tag-<%= tag.id %>">
          <div class="tag-bar">
            <div class="tag-name">
              <i class="fa-solid fa-tag tag-list-icon"></i>
              <span><%= tag.name %></span>
            </div>
            <div class="tag-btn">
              <div class="expand-tag-btn">
                <i class="fa-solid fa-angles-down"></i>
              </div>
              <div class="edit-tag-btn">
                <%= link_to edit_spot_spot_tag_path(spot, tag), remote: true do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="delete-tag-btn">
                <%= link_to spot_spot_tag_path(spot, tag), method: :delete, data: { confirm: "タグを削除しますか？" }, remote: true do %>
                  <i class="fa-solid fa-circle-xmark"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div class="display-memo hidden-memo">
            <section>
              <% if tag.memo.present? %>
                <%= tag.memo %>
              <% else %>
                このタグにメモはありません。
              <% end %>
            </section>
          </div>
        </li>
      <% end %>
    </ul>
    <div id="new-tag-link">
      <%= link_to new_spot_spot_tag_path(spot), remote: true do %>
        <i class="fa-solid fa-plus"></i>
        <span>タグを追加する</span>
      <% end %>
    </div>
  </div>
  <i id="colse-tag-list" class="fa-solid fa-xmark"></i>
</div>
