<div class="container">
  <div class="main-contents-wrap">
    <div class="page-link-wrap">
      <i class="fa-solid fa-chevron-left link-icon"></i>
      <%= link_to "TOPへ", root_path %>
    </div>
    <div class="card account-wrap">
      <h2 class="title is-4">ユーザーログイン</h2>
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), class: "account-form" do |f| %>
        <div class="input-bar field">
          <%= f.search_field :email, placeholder: "ご登録のメールアドレス", autofocus: true, autocomplete: "email", class: "input" %>
        </div>
        <div class="input-bar field">
          <%= f.password_field :password, placeholder: "パスワード", autocomplete: "current-password", class: "input" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="remember-me-checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="account-btn">
          <%= f.submit "ログイン", class: "button" %>
        </div>
      <% end %>
      <div class="account-help-links-wrap">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "users/sessions/new" %>
