<div class="container user-mypage-wrap">
  <div class="main-contents-wrap">
    <div class="user-marked-spot-tab-wrap tabs">
      <ul>
        <li class="favorite-spot-tab-label">
          <%= link_to "お気に入りしたスポット", users_mypage_spot_favorite_index_path %>
        </li>
        <li class="spot-tag-tab-label">
          <%= link_to "タグをつけたスポット", users_mypage_spot_tag_index_path %>
        </li>
      </ul>
    </div>
    <div class="user-marked-spot-list-wrap js-user-marked-spot-list">
      <% if tag_names %>
        <%= render "users/shared/spot_tag_dropdown", tag_names: tag_names %>
      <% end %>
      <%= render "shared/display_spots/spot_list", spots: spots %>
    </div>
  </div>
  <%= render "users/shared/mypage_user_contents" %>
</div>
