<div class="user-contents-wrap">
  <div class="user-media-head">
    <div class="user-images-wrap">
      <div class="user-image">
        <%= image_tag current_user.decorate.display_human_avatar, size: "130x130" %>
      </div>
      <div class="user-image">
        <%= image_tag current_user.decorate.display_dog_avatar, size: "130x130" %>
      </div>
    </div>
    <span class="user-name"><%= current_user.name %></span>
  </div>
  <ul class="user-media-body">
    <li>
      <%= link_to "プロフィール編集", users_mypage_profile_edit_path %>
    </li>
    <li>
      <%= link_to "アカウント設定", edit_user_registration_path %>
    </li>
    <li>
      <%= link_to "登録・更新したスポット", users_mypage_spot_index_path %>
      <span class="count"><%= current_user.spots.size %></span>
    </li>
    <li>
      <%= link_to "投稿したレビュー", users_mypage_review_index_path %>
      <span class="count"><%= current_user.reviews.size %></span>
    </li>
    <li>
      <%= link_to "投稿した画像", users_mypage_image_index_path %>
      <span class="count"><%= current_user.images.size %></span>
    </li>
  </ul>
</div>
