<% if reviews.present?  %>
  <div class="review-sort">
    <%= render "shared/display_sort_link", likes_count_title: "役立ったが多い順" %>
  </div>
  <div id="review-grid-list" data-review-count=<%= reviews.size %>>
    <% reviews.each_with_index do |review, i| %>
      <%= link_to spot_review_path(review.spot, review) do %>
        <section class="review-list-item">
          <%= render "reviews/shared/review_contents", review: review, i: i %>
          <%= render "shared/display_review_images", image: review.image, limit: Image::MAX_IMAGE_DISPLAY_NUMBER %>
          <div class="review-reaction-count">
            <p style="color: red;">役立った<%= review.like_reviews.size %></p>
          </div>
        </section>
      <% end %>
    <% end %>
  </div>
  <%= javascript_pack_tag "review/display_rating" %>
<% else %>
  <p>レビューの投稿はありません。</p>
<% end %>
