<%= form_with model: resource, url: url, method: method, class: "review-poster-form-wrap" do |f| %>
  <%= render "shared/error_messages", resource: resource %>
  <div class="guide-comment required-guide"><p><span>*</span>は必須項目</p></div>
  <div class="review-form box">
    <%= render "shared/display_reviews/review_rating", dog_score: dog_score, human_score: human_score %>
    <%= f.fields_for :review_attributes, resource.review do |rf| %>
      <%= rf.hidden_field :user_id, value: current_user.id if signed_in? %>
      <%= rf.hidden_field :spot_id, value: spot.id %>
      <%= rf.hidden_field :dog_score, class: "js-score-input" %>
      <%= rf.hidden_field :human_score, class: "js-score-input" %>
      <div class="field">
        <%= rf.label :title, "タイトル", class: "required" %>
        <%= rf.text_field :title, id: :review_title_input, class: "input" %>
      </div>
      <div class="field">
        <%= rf.label :title, "コメント", class: "required" %>
        <span class="guide-comment">※感想、ワンちゃんたちの様子、ワンちゃんたちを連れて行くときの注意点など</span>
        <%= rf.text_area :comment, id: :review_comment_input, class: "textarea" %>
      </div>
      <div class="field">
        <%= rf.label :visit_date, "訪問した日", class: "required" %>
        <%= rf.date_field :visit_date, id: :review_visit_date_input, class: "visit-date-input" %>
      </div>
    <% end %>
  </div>
  <%= f.fields_for :image_attributes, resource.review.image do |imf| %>
    <div class="address-input-guide guide-comment-wrap">
      <div class="guide-title">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p>アップロードできる画像</p>
      </div>
      <ul>
        <li>複数の画像をアップロードできます。</li>
        <li>ファイル形式 : png, jpg, jpeg</li>
        <li>ファイルサイズ : 5メガバイトまで</li>
      </ul>
    </div>
    <div class="file-uploader field">
      <%= imf.label :files, "画像のアップロード", class: "image-label" %>
      <div class="file is-small">
        <label class="file-label">
          <%= imf.file_field :files, multiple: true, id: :review_image_input, class: "file-input js-file-input" %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              ファイルを選択してください
            </span>
          </span>
        </label>
      </div>
    </div>
    <ul id="js-preview-image-list" class="js-preview-display field"></ul>
    <% if form_image_saved?(resource) %>
      <div class="image-delete-checkbox">
        <div class="image-delete-title">
          <i class="fa-solid fa-trash"></i>
          <p>アップロード画像の削除</p>
        </div>
        <div class="image-delete-list-wrap">
          <% resource.review.decorate.get_files_ordered_by_blob_creation_date.each do |file| %>
            <label for="file_id_<%= file.id %>_input" class="image-delete-wrap">
              <%= imf.check_box :file_ids, { multiple: true, checked: false, id: "file_id_#{file.id}_input"}, file.id, false %>
              <%= image_tag file.representation(resize_to_limit: [250, 250]) %>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="review-poster-btn">
    <input type="button" onclick=submit(); value="投稿する", class="button">
  </div>
<% end %>
