<%= render "shared/flash_messages" %>
<%= render "shared/error_messages", resource: resource %>
<%= form_with model: resource, url: url, method: method do |f| %>
  <%= render "reviews/shared/display_rating", i: nil, review: nil %>
  <%= f.fields_for :review_attributes, resource.review do |rf| %>
    <%= rf.hidden_field :user_id, value: current_user.id if signed_in? %>
    <%= rf.hidden_field :spot_id, value: spot.id %>
    <%= rf.hidden_field :dog_score, id: "dog-rating-value" %>
    <%= rf.hidden_field :human_score, id: "human-rating-value" %>
    <%= rf.label :title, "レビュータイトル" %>
    <%= rf.text_field :title, id: :form_review_title %>
    <%= rf.text_field :comment, id: :form_review_comment, class: "textarea", placeholder: "行ってみた感想、ワンちゃんたちの様子、ワンちゃんたちを連れて行くときの注意点などをご記入ください。" %>
  <% end %>
  <br>
  <%= f.fields_for :image_attributes, resource.image do |imf| %>
    <%= imf.label :files, "画像をアップロードする" %>
    <%= imf.file_field :files, multiple: true, id: :form_review_image %>
    <p>アップロードできる画像</p>
    <ul>
      <li>ファイル形式 : png, jpg, jpeg</li>
      <li>ファイルサイズ: 5メガバイトまで</li>
    </ul>
    <div class="check-box-delete-image" style="display: flex; flex-wrap: wrap; width: 750px;">
      <%= render partial: "reviews/shared/edit_image_form", collection: get_files_for_edit(resource), as: :file, locals: { form: imf } %>
    </div>
  <% end %>
  <ul id="preview_lists" class="preview-lists-display">
    <li id="preview" class="preview-display" ></li>
  </ul>
  <input type="button" onclick=submit(); value="投稿する", class="button mt-3">
<% end %>
<%= link_to "戻る", users_review_index_path %>

<%= javascript_pack_tag "review/set_rating" %>
<%= javascript_pack_tag "image/preview_image" %>
