<div class="review-contents">
  <% if controller_name == "users" %>
    <div class="review-operation-links">
      <%= link_to edit_spot_review_path(review.spot, review) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <% end %>
      <%= link_to spot_review_path(review.spot, review), method: :delete, data: { confirm: "#{review.spot.name}のレビュー「#{review.title}」を削除しますか？" } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <%= link_to review.spot.name, spot_path(review.spot.id) %>のレビュー
    </div>
  <% end %>
  <% if controller_name == "reviews" %>
    <div class="review-user-name">
      <p><%= review.user.name %>さんのレビュー</p>
    </div>
  <% end %>
  <div class="review-title">
    <p><%= review.title %></p>
  </div>
  <div class="rating-box mt-3">
    <%= render "reviews/shared/display_rating", review: review, i: i %>
  </div>
  <div class="review-comment-area">
    <p><%= review.comment %></p>
  </div>
</div>
