<%= form_with model: @spot_register_form, url: url, method: method, class: "spot-register-form-wrap" do |f| %>
  <%= f.fields_for(:spot_attributes, @spot_register_form.spot) do |sf| %>
    <%= render "shared/error_messages", resource: @spot_register_form %>
    <div class="guide-comment required-guide"><p><span>*</span>は必須項目</p></div>
    <div class="spot-base-data-form box">
      <h3 class="spot-base-data-title title is-5">基本情報</h3>
      <div class="address-input-guide guide-comment">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p>スポットの所在地を施設や場所の名前、キーワードで検索してください。</p>
        <p>例）レストラン ワンファミリー 新宿区"</p>
      </div>
      <div class="address-search-wrap field">
        <label for="spot_search_input">所在地を検索して入力</label>
        <div class="address-search-inputs">
          <input id="spot_search_input" type="search" placeholder="検索して所在地を入力" class="input address-search-bar js-spot-name-input">
          <input id="search_button" type="button" value="検索" class="button js-search-address-btn">
        </div>
        <div id="map-display"></div>
      </div>
      <div class="field">
        <%= sf.label :name, "スポット名", class: "required" %>
        <%= sf.search_field :name, placeholder: "施設や観光地の正式名称でご登録ください。 例）レストラン ワンファミリー" , id: :spot_name_input, class: "input" %>
      </div>
      <div class="field">
        <%= sf.label :address, "所在地", class: "required" %>
        <%= sf.search_field :address, placeholder: "例）東京都〇〇区〇〇１丁目１", id: :spot_address_input, class: "input js-spot-address-input" %>
        <%= sf.hidden_field :latitude, id: :spot_lat_input, class: "js-spot-lat-input" %>
        <%= sf.hidden_field :longitude, id: :spot_lng_input, class: "js-spot-lng-input" %>
      </div>
      <div class="field select-wrap">
        <%= sf.label :category_id, "スポットカテゴリー", for: "spot_category_input", class: "required" %>
        <div class="select is-small">
          <%= sf.collection_select :category_id, @categories, :id, :name, { prompt: "選択してください" }, { id: :spot_category_input } %>
        </div>
      </div>
      <div class="field select-wrap">
        <%= sf.label :allowed_area_id, "同伴可能エリア", for: "allowed_area_input", class: "required" %>
        <div class="select is-small">
          <%= sf.collection_select :allowed_area_id, @allowed_areas, :id, :area, { prompt: "選択してください" }, { id: :allowed_area_input } %>
        </div>
      </div>
      <div class="field">
        <%= sf.label :official_site, "スポットのオフィシャルサイト" %>
        <%= sf.search_field :official_site, placeholder: "リンクを貼ってください。", id: :spot_official_site_input, class: "input" %>
      </div>
    </div>
  <% end %>
  <div class="spot-rule-form box">
    <h3 class="spot-rule-title title is-5">同伴のルール</h3>
    <div class="rule-check-guide guide-comment">
      <i class="fa-solid fa-circle-exclamation"></i>
      <p>（複数選択可能。ご存知の範囲でチェックをお願いいたします。）</p>
    </div>
    <% @titles.each do |title| %>
      <div class="field">
        <p class="rule-option-title"><%= title.name %></p><br>
        <% title.rule_options.each do |rule_opt| %>
          <%= f.fields_for(:rules_attributes, @spot_register_form.spot.rules, index: rule_opt.id) do |rf| %>
            <div class="spot-rule-checkbox">
              <label for="check_box_<%= rule_opt.id %>">
                <%= rf.check_box :answer, {
                  checked: ary_present_and_include_ele?(ary: @attached_rule_opt_ids, ele: rule_opt.id),
                  id: "check_box_#{rule_opt.id}"
                }, "1", "0" %>
                <%= rule_opt.name %>
              </label>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="confirm-btn">
    <input type="button" onclick=submit(); value="入力内容の確認へ" class="button">
  </div>
<% end %>
<%= render "shared/include_map" %>
