<div class="">
  <h2>検索結果</h2>

  <h3>条件を変更して検索</h3>
  <%= search_form_for @q, url: spots_searchs_path do |sf| %>
    <%= sf.label :name_or_address_cont, "施設の名前・住所で検索" %>
    <br>
    <%= sf.search_field :name_or_address_cont %>
    <br>
    <%= sf.collection_check_boxes :category_id_matches_any, @categories, :id, :name, { id: :search_spot_category } %>
    <br>
    <%= sf.collection_check_boxes :allowed_area_id_matches_any, @allowed_areas, :id, :area, { id: :search_allowed_area } %>
    <br>
    <%= sf.submit "検索" %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>スポット名</th>
        <th>住所</th>
        <th>スポットカテゴリー</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.address %></td>
        <td><%= spot.category.name %></td>
        <td><%= link_to "詳細", spots_registration_path(spot.id), class: "spot_detail" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
