<h1>プロフィールの編集</h1>

<%= render "shared/flash_message" %>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, size: "100x100" %>
<% else %>
  <%= image_tag("noavatar.png", size: "100x100") %>
<% end %>


<%= form_with(model: @user, url: profile_path) do |f| %>
  <%= f.file_field :avatar %>
  <%= @user.name %> (変更できません)
  <%= f.text_area :introduction, placeholder: "自己紹介をご記入ください。" %>
  <input type="button" onclick="submit();" value= "保存" />
<% end %>

<%= link_to "マイページへ戻る", mypage_path %>


