<h1>アカウント情報</h1>

<%# <%= image_tag @user.avator, size: "100x100" if @user.avator.attached?%> %>

<%= form_with(model: @user, url: profile_path) do |f| %>
  <%# <%= f.file_field :avator %> %>
  <%= @user.user_name %> (変更できません)
  <%= f.text_area :user_introduction, placeholder: "自己紹介をご記入ください。" %>
  <input type="button" onclick="submit();" value= "保存" />
<% end %>

