<h1>マイページ</h1>

<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, size: "100x100" %>
<% else %>
  <%= image_tag("noavatar.png", size: "100x100") %>
<% end %>
<%= @user.user_name %>

<%= link_to "プロフィール編集", edit_profile_path %>
<%= link_to "アカウント設定", edit_user_registration_path %>
