<h1>マイページ</h1>

<%= image_tag @user.decorate.display_human_avatar, size: "100x100" %>
<%= @user.name %>

<%= link_to "プロフィール編集", edit_profile_path %>
<%= link_to "アカウント設定", edit_user_registration_path %>
<%= link_to "登録したスポット", users_spot_index_path %>
<%= link_to "投稿したレビュー", users_review_index_path %>
<%= link_to "投稿した画像", users_image_index_path %>
