<div class="container spot-index-container">
  <div class="main-contents-wrap">
    <section class="spot-index-wrap">
      <%= render "shared/page_link", link_hash: {
        "マイページへ戻る": users_mypage_spot_favorite_index_path,
        "投稿したレビュー": users_mypage_review_index_path,
        "投稿した画像": users_mypage_image_index_path
      } %>
      <h2 class="title is-4 main-title">登録・更新したスポット</h2>
      <div class="sort-links-wrap">
        <%= render "shared/sort_link", likes_count_title: "お気に入りが多い順" %>
      </div>
      <%= render "shared/display_spots/spot_list", spots: @spots %>
    </section>
  </div>
</div>
<%= javascript_pack_tag "users/spot_index" %>
<%= stylesheet_pack_tag "users/spot_index" %>
