<%= form_with model: @spot_register_form, url: url, method: method do |f| %>
  <%= f.fields_for(:spot_attributes, @spot_register_form.spot) do |sf| %>
    <div>
      <%= sf.label :name, "スポット名" %>
      <%= sf.text_field :name, placeholder: "施設や観光地の正式名称でご登録ください。 例）レストラン ワンファミリー" , id: :form_spot_name%>
      <div class="address-latlng">
        <div class="registraiton-nav">
          <p>所在地を施設や場所の名前、キーワードで検索してください。</p>
          <p>例）レストラン ワンファミリー 新宿区"</p>
        </div>
        <label for="form_serch_spot">検索</label>
        <input id="form_search_spot" type="text" placeholder="検索して所在地を入力">
        <input id="form_search_button" type="button" value="検索">
        <%= sf.label :address, "所在地" %>
        <%= sf.text_field :address, placeholder: "例）東京都〇〇区〇〇１丁目１", id: :form_spot_address %>
        <%= sf.hidden_field :latitude, id: :form_lat %>
        <%= sf.hidden_field :longitude, id: :form_lng %>
        <div id="map_display"></div>
      </div>
      <%= sf.label :category_id, "スポットカテゴリー" %>
      <%= sf.collection_select :category_id, @categories, :id, :name, { prompt: "選択してください" }, { id: :form_spot_category } %>
      <%= sf.label :allowed_area_id, "同伴可能エリア" %>
      <%= sf.collection_select :allowed_area_id, @allowed_areas, :id, :area, { prompt: "選択してください" }, { id: :form_allowed_area } %>
      <%= sf.label :official_site, "スポットのオフィシャルサイト" %>
      <%= sf.text_field :official_site, placeholder: "リンクを貼ってください。", id: :form_official_site %>
    </div>
  <% end %>
  <div id="form_pets_allowed_rule">
    <p>同伴のルール（複数選択可能。ご存知の範囲でチェックをお願いいたします。）</p>
    <% @titles.each do |title| %>
      <p><%= title.name %></p>
      <% title.rule_option.each do |rule_opt| %>
        <%= f.fields_for(:rules_attributes, @spot_register_form.rules, index: rule_opt.id) do |rf| %>
          <label>
            <%= rf.check_box :answer, {
              checked: ary_present_and_include_ele?(ary: @attached_rule_opt_ids, ele: rule_opt.id),
              class: :form_rule_check_box,
              id: rule_opt.id.to_s
            }, "1", "0" %>
            <%= rule_opt.name %>
          </label>
          <%= rf.hidden_field :rule_option_id, value: rule_opt.id %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <input type="button" onclick=submit(); value="登録">
<% end %>
