<h1>Pages#index</h1>
<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<%= link_to "ログイン", login_path %>
<%= link_to "新規登録", sign_up_path %>
<%= button_to "ログアウト", logout_path, method: :delete if signed_in? %>

<%= link_to "会員情報", mypage_path if signed_in? %>
