<div class="container">
  <div class="main-contents-wrap">
    <%= render "shared/page_link", link_hash: { "TOP": root_path } %>
    <div class="card account-wrap">
      <h2 class="title is-4">管理者ログイン</h2>
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), class: "account-form" do |f| %>
        <div class="input-bar field">
          <%= f.search_field :email, placeholder: "ご登録のメールアドレス", autofocus: true, autocomplete: "on", class: "input" %>
        </div>
        <div class="input-bar field">
          <%= f.password_field :password, placeholder: "パスワード", autocomplete: "current-password", class: "input" %>
        </div>
        <div class="account-btn">
          <%= f.submit "管理者としてログイン", class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "admins/sessions/new" %>
<%= stylesheet_pack_tag "admins/sessions/new" %>
