<h2>パスワードの変更</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "新しく設定するパスワードをご入力ください。" %><br />
    <% if @minimum_password_length %>
      <em>半角の英字・数字、両方を含めて<%= @minimum_password_length %>文字以上</em><br />
      <p>記号はご使用できません。</p>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "新しいパスワードの確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードを変更する" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
