<div class="container">
  <div class="main-contents-wrap">
    <div class="page-link-wrap">
      <i class="fa-solid fa-chevron-left link-icon"></i>
      <%= link_to "TOPへ", root_path %>
    </div>
    <div class="card account-wrap">
      <h2 class="title is-4">パスワードの再設定</h2>
      <%= form_with model: resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "account-form" do |f| %>
        <%= render "shared/error_messages", resource: resource %>
        <div class="input-bar field">
          <%= f.email_field :email, placeholder: "ご登録のメールアドレス", autofocus: true, autocomplete: "email", class: "input" %>
        </div>
        <div class="account-btn">
          <div class="account-btn">
            <%= f.submit "パスワード再設定のメールを送信", class: "button" %>
          </div>
        </div>
      <% end %>
      <div class="account-help-links-wrap">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "users/passwords/new" %>

