<%= render "shared/spot_header", spot: @spot, spot_favorite: @spot_favorite, tags_user_put_on_spot: @tags_user_put_on_spot %>
<div class="container main-container">
  <div class="main-contents-wrap">
    <div class="sort-links-wrap">
      <%= render "shared/sort_link", likes_count_title: "役に立ったが多い順" %>
    </div>
    <%= render "shared/display_reviews/review_list", reviews: @reviews %>
  </div>
  <div class="right-contents-wrap">
    <div class="new-review-btn">
      <%= link_to "レビューを投稿する", new_spot_review_path(@spot), class: "button" %>
    </div>
    <%= render "spots/shared/search_links", spot: @spot %>
  </div>
</div>
<%= javascript_pack_tag "reviews/index" %>
