<%= render "shared/flash_messages" %>
<%= link_to "#{@review.spot.name}のすべてのレビュー", spot_reviews_path(@review.spot), class: "button light ml-3 mt-3" %>
<%= render "reviews/shared/review_contents", review: @review, i: nil %>
<div class="review-reaction">
  <%= render "reviews/shared/add_or_remove_like", review: @review, spot: @review.spot %>
</div>
<%= render "shared/display_image_list", blobs: @blobs, review_image_only: true %>
<%= javascript_pack_tag "review/display_rating" %>
