<%= render "shared/flash_messages" %>
<%= link_to "#{@spot.name}のすべてのレビュー", spot_reviews_path(@spot), class: "button light ml-3 mt-3" %>
<%= render "reviews/shared/review_contents", review: @review, i: nil %>
<div class="review-reaction">
  <%= render "reviews/shared/add_or_remove_like", review: @review, spot: @spot %>
</div>
<div class="review-image-list">
  <%= render "shared/display_review_images", image: @review.image, limit: nil %>
</div>
<%= javascript_pack_tag "review/display_rating" %>
