<%= render "shared/flash_messages" %>

<%= link_to "すべてのレビュー", spot_reviews_path(@review.spot), class: "button light ml-3 mt-3" %>

<h3><%= @review.user.name %>さん</h3>
<h2><%= link_to "#{@review.spot.name}のレビュー", spot_path(@review.spot) %></h2>

<h1><%= @review.title %></h1>

<table class="table is-fullwidth has-text-centered">
  <thead>
    <tr>
      <th>ワンちゃんたちの満足度</th>
      <th><%= @review.user.name %>さんの満足度</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @review.dog_score %></td>
      <td><%= @review.human_score %></td>
      <td><%= @review.comment %></td>
    </tr>
  </tbody>
</table>

<%= render "reviews/shared/display_image", image: @review.image, limit: nil %>
