<%= render "shared/spot_header", spot: @spot, spot_favorite: @spot_favorite, tags_user_put_on_spot: @tags_user_put_on_spot %>
<div class="container">
  <div class="main-contents-wrap">
    <div class="sort-links-wrap">
      <%= render "shared/sort_link", assessment_title: "いいねが多い順" %>
    </div>
    <%= render "shared/display_images/image_list", image_blobs: @image_blobs, spot_id: @spot.id, image_id: nil %>
  </div>
</div>
<%= javascript_pack_tag "images/index" %>
<%= stylesheet_pack_tag "images/index" %>
