<!DOCTYPE html>
<html>
  <head>
    <title>WanFamily[ワン・ファミリー] -ワンちゃん・ペットとのお出かけメディア-</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ef0c77955e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render "shared/application/header", q: @q, categories: @categories, allowed_areas: @allowed_areas, regions: @regions %>
    <div class="hero-body">
      <%= render "shared/flash_messages" %>
      <div class="contents-wrap">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/application/footer" %>
  </body>
</html>
