<h2>アカウント設定</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "新しいメールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "新しいパスワード" %> <i>(パスワードを変更しない場合は、空欄のままにしてください。)</i><br />
    <%= f.password_field :password, placeholder: "#{@minimum_password_length}文字以上", autocomplete: "new-password" %>
    <p>半角の英字・数字、両方を含めて下さい。</p>
    <p>記号はご使用できません。</p>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "新しいパスワード（確認用）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <input type="button" onclick="submit();" value= "更新" />
  </div>
<% end %>

<h3>アカウントの削除</h3>

<%= button_to "アカウントの削除", user_registration_path, data: { confirm: "本当に削除しますか？" }, method: :delete %>

<%= link_to "マイページへ戻る", users_mypage_path %>
