<div class="container">
  <div class="main-contents-wrap">
    <div class="page-back-link-wrap">
      <i class="fa-solid fa-chevron-left link-icon"></i>
      <%= link_to "TOPへ", root_path %>
    </div>
    <div class="card account-wrap">
      <h2 class="title is-4">ユーザー新規登録</h2>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), class: "account-form" do |f| %>
        <%= render "shared/error_messages", resource: resource %>
        <div class="input-bar field">
          <%= f.text_field :name, placeholder: "ユーザーネーム(後から変更できません)", autofocus: true, autocomplete: "name", class: "input" %>
        </div>
        <div class="input-bar field">
          <%= f.email_field :email, placeholder: "メールアドレス", autocomplete: "email", class: "input" %>
        </div>
        <div class="input-bar field">
          <%= f.password_field :password, placeholder: "半角英数字で#{@minimum_password_length}文字以上", autocomplete: "new-password", class: "input" %>
        </div>
        <div class="input-bar field">
          <%= f.password_field :password_confirmation, placeholder: "パスワードの再確認", autocomplete: "new-password", class: "input" %>
        </div>
        <div class="account-btn">
          <input type="button" onclick="submit();" value= "新しいアカウントを登録する" class="button" />
        </div>
      <% end %>
      <div class="account-help-links-wrap">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "users/registrations/new" %>
